<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <navbar></navbar>
  <form class="well">
    <div class="form-group">
      <div class="row" *ngIf="!!langs.length">
        <div class="col-md-4" align="bottom"><strong>Original text</strong></div>
        <div class="col-md-2" align="right">
          <dropdown [langs]="langs" [forInput]="true"></dropdown>
        </div>
        <div class="col-md-2" align="left">
          <dropdown [langs]="langs"></dropdown>
        </div>
        <div class="col-md-4" align="bottom"><strong>Translation</strong></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <textbox 
            disabled="false" 
            [onTextInput]="translate.bind(this)"
            placeholder="Input your text here..."
            areaId="input-box">
        </textbox>
      </div>
      <div class="col-md-6">
        <textbox 
          disabled="true" 
          placeholder="Translation appears here" 
          areaId="output-box">
        </textbox>
      </div>
      </div>
    </div>
  </form>


