<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <navbar></navbar>
  <form class="well">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <textbox 
            disabled="false" 
            (onKeyUp)="translate()"
            placeholder="Input your text here...">
          </textbox>
        </div>
        <div class="col-md-6">
          <textbox 
            disabled="true" 
            placeholder="Here the translation appears">
          </textbox>
        </div>
      </div>
    </div>
  </form>


