<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        Language
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="height:400px; overflow:auto; padding-left:5%" *ngIf="langsLoaded"> 
        <div *ngIf="forInput">
            <li>
                <a href="#" 
                (click)="this.setLanguage(null,'Autodetect')" 
                class="{{!!this.selectedLangId ? 'link-dropdown' : 'link-dropdown-selected'}}">
                Detect automatically</a>
            </li>
            <li role="separator" class="divider"></li>
        </div>
        <div *ngFor="let lang of langs">
            <li>
                <a href="#" 
                (click)="this.setLanguage(lang.key,lang.value)" 
                class="{{this.selectedLangId != lang.key ? 'link-dropdown' : 'link-dropdown-selected'}}">
                {{lang.value}}</a>
            </li>
        </div>
    </ul>
</div>