<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        Language
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <div *ngIf="forInput">
            <li>
                <a href="#">Detect automatically</a>
            </li>
        </div>
        <div *ngFor="let lang of langs">
            <li>
                <a href="#">{{lang.value}}</a>
            </li>
        </div>
    </ul>
</div>